<div class="container">
  <h2 class="text-center mt-3">Create your own Cocktail!</h2>
  <div class="row justify-content-center">
    <div class="col-6 text-new">
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.input :name, label: "Name your cocktail"%>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Add", class: "btn btn-pink"%>
      <% end %>
    </div>
  </div>
</div>
<br>
 <i class="fas fa-home"></i><%= link_to "Go back", cocktails_path %>
