<div class="container-fluid mt-5">
  <div class="row justify-content-around">
    <div class="col-3 p-4 show-cocktail">
      <div class="text-center show-cocktail-name">
        <h2><%= @cocktail.name %></h2>
      </div>
      <div class="container text-center">
        <div class="rating-container">
          <%= simple_form_for [@cocktail, @star], class: "form-inline" do |f| %>
            <div class="row", style="display: inline-block;">
               <fieldset class="rating">
                 <input type="radio" id="star5" name="star[number]" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                 <input type="radio" id="star4" name="star[number]" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                 <input type="radio" id="star3" name="star[number]" value="3" /><label class = "full" for="star3" title="3 stars"></label>
                 <input type="radio" id="star2" name="star[number]" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                 <input type="radio" id="star1" name="star[number]" value="1" /><label class = "full" for="star1" title="1 star"></label>
               </fieldset>
               <p><%= @cocktail.stars.length %> votes</p>
               <%= f.submit "Rate", class: "btn btn-pink btn-xs"%>
            </div>
          <% end %>
          <table>
            <tr>
            <th>Ingredients</th>
            <th>Doses</th>
            <td><%= link_to new_cocktail_dose_path(@cocktail), class: "text-add" do %>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <% end %>
            </td>
            </tr>
            <% @cocktail.doses.each do |dose| %>
              <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>
              <td><%= link_to dose_path(dose), method: :delete, class: "text-delete" do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
              </td>
              </tr>
            <% end %>
          </table>
          <% if @cocktail.photo.attached? %>
            <%= cl_image_tag @cocktail.photo.key %>
          <% else %>
            <%= cl_image_tag("EbslIbA_hvjncc",
              height: 300, width: 400, crop: :fill) %>
          <% end %>
          </div>
          <br>
  <i class="fas fa-home"></i><%= link_to "Go back", cocktails_path %>
</div>

